.img-single{
max-width: 100%;
}
.rating{
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 50%;
}
.header-single{
    font-size: 30px;
    font-weight: 400;
    line-height: 2;
}
.score{
    color: #82AE46;
    text-align: left;
    font-weight: 400;
    font-size: 15px;

    .MuiRating-root{
        color: #82AE46;
        font-size: 15px;
        margin-left: 0.5rem;
    }
    
}
.label{
    color: #bbb;
    font-size: 15px;
    font-weight: 500;
    margin-left: 0.5rem;
}
.pricesingle{
    font-size: 30px;
    color: #000;
    text-align: left;
    font-weight: 400;
    line-height: 2;
}
.detail{
    color: grey;
    line-height: 1.8;
    font-weight: 400;
    font-size: 15px;
    width: 80%;
}
.button-dec{
    all: unset;
    padding:2px 10px;
    border: 1px solid rgb(227, 221, 221);
    text-align: center;
    outline: none;
background: #fff;
margin-right: 0.5rem;
}
.button-count{
    all:unset;
    padding: 2px 40px;
    border: 1px solid rgb(227, 221, 221);
    text-align: center;
    margin-right: 0.5rem;
}
.buttons{
  margin-top: 10px;
}
.size{
    margin-top: 10px;
}

.btn-add{
    all: unset;
    cursor: pointer;
    background-color: #000;
    border-radius: 30px;
    padding: 15px 40px;
    color: #fff;
margin-top: 10px;
}

.div-img{
    width: 100%;
    display: flex;
    // height: 200px;
    height: 420px;
   background:url(../../../assets/images/slider/slider_1.jpg);
   background-position: center;
   background-size: cover;
  
align-items: center;
   justify-content: center;

   h1{
color: #fff;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 30px;
font-family: "Poppins";

   }
}