@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
.header{
    position: relative;
    //overflow: hidden;
// *Header-Top*
    .header-top{
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #82ae46;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        width: 100%;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            vertical-align: middle;

            .phone,.mail,.delivery{
                margin:4px 0;
                span{
                 
                    i{
                        margin-right: 6px;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width:768px){
    .header-top .container{
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}

// *Header-bottom*

.header-bottom{
    // //position: relative;
    // //top: 0;
    // position: fixed;
    // z-index: 111;
    // //width: 100%;
    // background: #fff;




    .navbar{
      background: transparent !important;
      font-family: 'Poppins', sans-serif !important;
      text-transform: uppercase;

      .navbar-brand{
        font-weight: 800;
        font-size: 20px;
        color: #82ae46;

        &:hover{
            color: #000;
        }
      }

      .navbar-toggler{
       border: none;
       font-size: 1rem;
       font-weight: 800;
       letter-spacing: .2em;
       text-transform: uppercase;
      }

.nav-item{
 

    &:hover{
        &::after{
            width: 100%;
            background-color: #000;
        }
    }
    
    &::after{
        content: '';
        display:block;
        width: 0;
        height: 3px;
        background: transparent;
        transition: width 0.7s ease, background-color 0.5s ease;
        // position: absolute;
        // top: 45px;
        
    }

  
  .active{
    color: #82ae46;
  }
    .nav-link{
        font-size: 12px;
        padding-left:20px;
        padding-right:20px;
        color: #000;

       
}

// .dropdown-menu{

// }

}

     





    }
}

